* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(30, 30, 46, 0.9);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-color: #181825;
    border-radius: 50px;
    border-color: #89b4fa;
    text-decoration-color: #cdd6f4;
    color: #cdd6f4;
    border-style: solid;
    border-width: 3px;
    margin: 6px;
    margin-left: 600px;
    margin-right: 600px;
}

button:focus,
button:active,
button:hover {
    /* 20% Overlay 2, 80% mantle */
    background-color: rgb(48, 50, 66);
    outline-style: none;
}

#lock {
    background-image: url("/home/nynke/.dotfiles/hyprland/.config/wlogout/icons/blue/lock.svg");
}

#logout {
    background-image: url("/home/nynke/.dotfiles/hyprland/.config/wlogout/icons/blue/logout.svg");
}

#suspend {
    background-image: url("/home/nynke/.dotfiles/hyprland/.config/wlogout/icons/blue/suspend.svg");
}

#shutdown {
    background-image: url("/home/nynke/.dotfiles/hyprland/.config/wlogout/icons/blue/shutdown.svg");
}

#reboot {
    background-image: url("/home/nynke/.dotfiles/hyprland/.config/wlogout/icons/blue/reboot.svg");
}
