@import "mocha.css";
* {
    padding-top: 1px;
    padding-left: 4px;
    margin-right: 3px;
    font-family: 'Noto Sans ExtraBold';
    color: @text;
}

@define-color secondary @green;

tooltip {
    background-color: @base;
    color: @text;
}

#waybar {
    background: none;
}

#clock, #tray, #pulseaudio {
    background-color: @base;
    padding: 8px;
    border-radius: 13px;
    border: 3px solid @secondary;
}

@keyframes blink {
    to {
        color: @base;
    }
}

#battery {
    background-color: @base;
    padding: 8px 14px 8px 14px;
    border-radius: 13px;
    border: 3px solid @secondary;
    color: @green;
}

#battery.warning {
    color: @peach;
}

#battery.critical {
    color: @red;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: .5s;
    animation-timing-function: steps(30);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#workspaces {
    background-color: @base;
    border-radius: 13px;
    border: 3px solid @secondary;
}

#custom-power {
    background-image: url('/home/mustard/.dotfiles/hyprland/.config/waybar/icons/manjaro-mocha.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: @base;
    border-radius: 13px;
    border: 3px solid @secondary;
    padding: 8px 14px 8px 14px;
}
